/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #444;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    border: 2px solid red;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button.bg-blue {
    color: #fff;
    border: none;
}

/* utilities */
.bg-blue {
    background: #47ADF1;
}

/* header */
header {
    background: #fff;
    padding: 10px 30px;
}

#logo {
    vertical-align: -12px;
}

.main-title {
    display: inline;
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 2px;
}

/* todo list button */
.button-toDoList {
    border-bottom: #eee 1px solid;
    padding-bottom: 10px;
}